.inventoryItemDiv{
    background-color: darkslategray;
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 4px;
}
.craftingRecipeDiv{
    background-color: darkolivegreen;
    padding: 10px;
    margin-left: 2%;
    margin-bottom: 2px;
}
#inventoryParent{
    width: 50%;
    float: left;
}
#craftingParent{
    width: 50%;
    float: left;
}
